@charset "UTF-8";
@import url("http://fonts.cdnfonts.com/css/roboto");
@import url("http://fonts.cdnfonts.com/css/shrikhand");
/* Création de variables pour les 3 couleurs principales du site */
:root {
  --brand-softpurple: #9356DC;
  --brand-softpink: #FF79DA;
  --brand-softgreen: #99E2D0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

.restaurants-list__card__image {
  width: 250px;
}